<!DOCTYPE html>
<html>
  <head>
 		<%- include("partials/header.ejs")%>
  </head>
  <body>
    
    <h1>The Solar System</h1>
  
    <%- include("partials/menu.ejs")%>

		<br>
			
    <img src = "/img/solar-system.jpg">

  </body>
</html>