<!DOCTYPE html>
<html>
  <head>
 		<%- include("partials/header.ejs")%>
  </head>
  <body>
    
    <h1>The Solar System</h1>
  
    <%- include("partials/menu.ejs")%>

   <br>
     
     <form action="/planet">
         Select a planet:
         <select name="planetName">
             <option>Mercury</option>
             <option>Venus</option>
             <option>Earth</option>
             <option>Mars</option>
         </select>
         <br>
         <button>Get Info</button>
     </form>

		<br>
			
    <img src = "/img/solar-system.jpg">

  </body>
</html>
